@import 'tokens.css';


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 20pt;
}

h2 {
    margin-bottom: 3px;
    font-size: 16pt;
}

span {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

textarea {
    resize: none;
}


body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, select, button {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::-webkit-scrollbar
{
    background-color: #fff;
}

*::-webkit-scrollbar-thumb
{
    background-color: var(--primary-50);
}

/* --------------------------NEW EVENT DIALOG------------------------- */
.new-event-dialog {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: -360px;
    z-index: 10;            /*Cambiar a uno mayor*/
    
    grid-template-rows: 56px 1fr;
}

.new-event-dialog.active {
    left: 0px;
}

.dialog-header {
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.new-event-dialog form {
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.new-event-dialog form input{
    height: 48px;
    width: 100%;
    margin-bottom: 10px;
}

/* ------------------------------APP BAR------------------------------ */
.app-bar
{
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 6;
}

.user-avatar
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: var(--primary-50); */
    overflow: hidden;
}

.user-avatar a
{
    height: 100%;
    background-image: url(../assets/img/user-01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* -----------------------------/APP BAR------------------------------ */

/* -----------------------------MAIN VIEW----------------------------- */
.main-view
{
    /* background: yellowgreen; */
    height: 100%;
    width: 100%;

    grid-template-rows: 56px 1fr 48px;
}

.sections-cont
{
    /* height: 560px;
    width: 100%; */
    /* background: var(--primary-95); */
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.section
{
    height: 100%;
    width: 100%;
    flex: 0 0 100vw;
    position: relative;
    padding: 10px 16px 0;
    overflow-y: scroll;
}

/* #home
{
    background: coral;
} */

.events-group,
.contacts-group
{
    margin-bottom: 15px;
}

.events-cont,
.contacts-cont
{
    /* min-height: 64px; */
    width: 100%;
    /* padding: 4px 12px; */
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sentence-case::first-letter
{
    text-transform: uppercase;
}

.card
{
    width: 100%;
    height: 64px;
    padding: 8px;
    align-items: center;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.event
{
    background-color: #f5f5f5;
}

.event:hover
{
    background-color: var(--primary-80);
}

.contact
{
    background-color: #fff;
}

.contact:hover
{
    background-color: var(--primary-95);
    cursor: pointer;
}

.avatar
{
    height: 48px;
    width: 48px;
    margin-right: 12px;
    background: var(--primary-60);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.event-info
{
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.event-details
{
    width: 100%;
    justify-content: space-between;
}

.event-name
{
    line-height: 16pt;
}

.event-date
{
    font-size: 8pt;
    line-height: 16pt;
    color: var(--primary-50);
}

.event-day,
.event-month,
.event-year
{
    display: inline;
}

.event-desc
{
    font-size: 10pt;
    line-height: 10pt;
}

.turn,
.unit
{
    display: inline;
}

.turn
{
    font-weight: 800;
}

.contact-name
{
    font-size: 14pt;
    font-weight: bold;
}

/* #contacts
{
    background: crimson;
} */
/* ----------------------------/MAIN VIEW----------------------------- */

/* -------------------------------MODAL------------------------------- */
#modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    visibility: hidden;
    opacity: 0%;
    display: flex;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

#modal.active {
    visibility: visible;
    opacity: 100%;
}
/* ------------------------------/MODAL------------------------------- */

/* --------------------------BIRTHDAY FORM---------------------------- */
.birthday-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form-title
{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    color: var(--primary-50);
}

.birthday-form input,
.birthday-form select
{
    height: 48px;
}

/* .income-form input[type="button"]
{
    width: 47%;
} */

.birthday-form select
{
    padding: 0 7px;
    background: var(--primary-95);
    border: none;
    border-bottom: solid var(--primary-80) 2px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    font-family: "Roboto";
    font-size: 12pt;
}

input,
textarea
{
    padding: 0 10px;
    background: var(--primary-95);
    border: none;
    border-bottom: solid var(--primary-80) 2px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    font-family: "Roboto";
    font-size: 12pt;
    transition-duration: 0.2s;
}

input::placeholder,
textarea::placeholder
{
    color: var(--primary-50);
}

input:focus,
textarea:focus
{
    outline: none;
    border-bottom: solid var(--primary-50) 2px;
}

button,
input[type="button"], 
input[type="reset"] 
{
    background-color: var(--primary-50);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

button {
    height: 48px;
    padding: 0 24px;
    font-family: "Roboto";
    font-size: 12pt;
}

/*===============================================================*/

/* .wrappers-cont
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.wrapper
{
    height: 120px;
    width: 80px;
    margin: 0 1px;
    /* background: blue; */
    overflow-y: scroll;
    -ms-overflow-style: none;   /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;      /* Hide scrollbar for Firefox */
    /* margin-bottom: 10px; */
    display: inline-block;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.wrapper::-webkit-scrollbar
{
    display: none;              /* Hide scrollbar for Chrome, Safari and Opera */
}

.wrapper::before,
.wrapper::after
{
    content: '';
    display: block;
    height: 40px;
    position: sticky;
}

.wrapper::before
{
    background: linear-gradient(to bottom, rgb(255, 255, 255) 10%, rgba(255, 255, 255, .6));
    border-bottom: solid 2px rgb(255, 136, 0);
    top: 0;
}

.wrapper::after
{
    background: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, .6));
    border-top: solid 2px rgb(255, 136, 0);
    bottom: 0;
}

.option
{
    line-height: 40px;
    width: 100%;
    text-align: center;
    scroll-snap-align: center;
    /* background: green; */
}

#birthdate-display
{
    margin-bottom: 30px;
}

.date-display
{
    display: inline;
}

.birthday-form textarea
{
    padding: 10px;
    /* line-height: 14pt; */
}

.btn-cont
{
    height: 47px;
}

/* .default-opt
{
    color: var(--primary-50);
} */
/* --------------------------/NEW PROD FORM------------------------------ */

/* ----------------------------BOTTOM BAR-------------------------------- */
.bottom-bar {
    /* height: 50px; */
    /* width: 100%; */
    padding: 12px;
    background-color: #fff;
    position: relative;
    /*left: 0;
    bottom: 0; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    /* align-items: flex-end; */
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.circle {
    border-radius: 50%;
}

#plus-btn-cont {
    height: 56px;
    width: 56px;
    background-color: var(--primary-50);
    box-shadow: 0 6px 12px var(--primary-70);
    position: absolute;
    z-index: 11;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 0.05s ease-out all;
    -webkit-transition: 0.05s ease-out all;
    -moz-transition: 0.05s ease-out all;
    -ms-transition: 0.05s ease-out all;
    -o-transition: 0.05s ease-out all;
}

#plus-btn-cont.active {
    box-shadow: none;    
}

#plus-btn {
    height: 100%;
    width: 100%;
    padding: 17px;
    cursor: pointer;
    transition: 0.2s ease-out all;
    -webkit-transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -ms-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
}

#plus-btn.active {
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
}

.plus-line
{
    background-color: #fff;
}

.plus-line-h
{
    height: 2px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 0;
    border-radius: 1px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.plus-line-v
{
    height: 100%;
    width: 2px;
    position: relative;
    top: 0;
    left: 50%;
    border-radius: 1px;
    transform: translate(-50%, -2px);
    -webkit-transform: translate(-50%, -2px);
    -moz-transform: translate(-50%, -2px);
    -ms-transform: translate(-50%, -2px);
    -o-transform: translate(-50%, -2px);
}

.bottom-bar__btn
{
    height: 24px;
    width: 24px;
    /* margin: 0 20px; */
    /* background-color: var(--primary-50); */
    display: block;
    text-decoration: none;
}

.bottom-bar__btn .f87ab682-912b-48b5-8741-5fd1cac82e10,
.bottom-bar__btn .aa0702b9-5d0a-4ccd-8cb0-da27c695d337
{
    transition: .3s ease-out all;
    -webkit-transition: .3s ease-out all;
    -moz-transition: .3s ease-out all;
    -ms-transition: .3s ease-out all;
    -o-transition: .3s ease-out all;
}

.bottom-bar__btn:hover .f87ab682-912b-48b5-8741-5fd1cac82e10,
.bottom-bar__btn:hover .aa0702b9-5d0a-4ccd-8cb0-da27c695d337,
.bottom-bar__btn.active .f87ab682-912b-48b5-8741-5fd1cac82e10,
.bottom-bar__btn.active .aa0702b9-5d0a-4ccd-8cb0-da27c695d337
{
    fill: var(--primary-50);
}

/* .bubble-btn {
    height: 50px;
    width: 50px;
    background-color: blue;
    cursor: pointer;
} */
/* ---------------------------/BOTTOM BAR-------------------------------- */